img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

h2 {
    text-align: center;
    font-size: xxx-large;
}

p {
    text-align: center;
    font-size: larger;
    margin-top: 4%;
}





  