* {
    background-color: #A4A9E6;
}

header a {
    font-style: italic;
    color: black;
    font-size: xx-large;
    text-shadow: 2px 2px 5px whitesmoke;
    display: inline-block;
   }

main {
    size: 0 auto;
    margin: 0 auto;
}

header {
    border-bottom: solid;
    width: 100%;
    position: relative;
    text-align: center;
    top: 0;
    overflow: auto;
}

h1 {
    text-align: center;
    margin: 1%;
    margin-top: 2%;
    font-size: xxx-large;
    text-shadow: 5px 5px 7px whitesmoke;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #A4A9E6;
    color: #fff;
  }

  footer a {
    padding: 5px;
    margin: 5px;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }





